<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&family=Imprima&family=Montserrat:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Iniciar Sesión</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="index.html">
                <img src="static/img/logo.png" alt="Logo">
            </a>
            
        </div>

        <button class="abrir-menu" id="abrir"><i class="bi bi-list"></i></button>
        <nav class="nav visible" id="nav">
            <button id="cerrar" class="cerrar-menu"><i class="bi bi-x-lg"></i></button>
            <ul class="nav-list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Buscador</a></li>
                <li><a href="#">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <!-- Sección de usuarios -->

    <h1>Usuarios</h2>
    <div class="contenido-usuarios contenedor">
        <table class="tabla-usuario tabla">
            <tr>
                <th>Email</th>
                <th>Ocupación</th>
                <th>Institución</th>
                <th>Edad</th>
                <th>Nombre Completo</th>
                <th>Acciones</th> <!-- Columna para botones de acciones -->
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.ocupacion }}</td>
                <td>{{ usuario.institucion }}</td>
                <td>{{ usuario.edad }}</td>
                <td>{{ usuario.nombre_completo }}</td>
                <td>
                    <button onclick="editarUsuario('{{ usuario.id }}')" class="btn btn-verde">Editar</button>
                    <button onclick="eliminarUsuario('{{ usuario.id }}')" class="btn btn-rojo">Eliminar</button>
                </td>
            </tr>
            <tr id="editar_usuario_{{ usuario.id }}" style="display: none;">
                <td><input type="text" id="email_{{ usuario.id }}" value="{{ usuario.email }}"></td>
                <td><input type="text" id="ocupacion_{{ usuario.id }}" value="{{ usuario.ocupacion }}"></td>
                <td><input type="text" id="institucion_{{ usuario.id }}" value="{{ usuario.institucion }}"></td>
                <td><input type="number" id="edad_{{ usuario.id }}" value="{{ usuario.edad }}"></td>
                <td><input type="text" id="nombre_completo_{{ usuario.id }}" value="{{ usuario.nombre_completo }}"></td>
                <td>
                    <button onclick="guardarCambiosUsuario('{{ usuario.id }}')" class="btn btn-verde">Guardar cambios</button>
                    <button onclick="cancelarEdicionUsuario('{{ usuario.id }}')" class="btn btn-rojo">Cancelar</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="linea"></div>
    <!-- Sección de proyectos -->
    <h1>Proyectos</h1>
    <div class="contenido-proyectos contenedor">
        <table class="tabla">
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Autor</th>
                <th>Fecha de Publicación</th>
                <th>Palabras Clave</th>
                <th>Acciones</th> <!-- Columna para botones de acciones -->
            </tr>
            {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto.titulo }}</td>
                <td>{{ proyecto.descripcion }}</td>
                <td>{{ proyecto.autor }}</td>
                <td>{{ proyecto.fecha_publicacion }}</td>
                <td>{{ proyecto.palabras_clave }}</td>
                <td>
                    <button onclick="editarProyecto('{{ proyecto.id }}')" class="btn btn-verde">Editar</button>
                    <button onclick="eliminarProyecto('{{ proyecto.id }}')" class="btn btn-rojo">Eliminar</button>
                </td>
            </tr>
            <tr id="editar_proyecto_{{ proyecto.id }}" style="display: none;">
                <td><input type="text" id="titulo_{{ proyecto.id }}" value="{{ proyecto.titulo }}"></td>
                <td><input type="text" id="descripcion_{{ proyecto.id }}" value="{{ proyecto.descripcion }}"></td>
                <td><input type="text" id="autor_{{ proyecto.id }}" value="{{ proyecto.autor }}"></td>
                <td><input type="text" id="fecha_publicacion_{{ proyecto.id }}" value="{{ proyecto.fecha_publicacion }}"></td>
                <td><input type="text" id="palabras_clave_{{ proyecto.id }}" value="{{ proyecto.palabras_clave }}"></td>
                <td>
                    <button onclick="guardarCambiosProyecto('{{ proyecto.id }}')" class="btn btn-verde">Guardar cambios</button>
                    <button onclick="cancelarEdicionProyecto('{{ proyecto.id }}')" class="btn btn-rojo">Cancelar</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="linea"></div>

    <!-- Formulario para agregar usuario -->
    <h2>Agregar Usuario</h2>
    <div class="formulario contenedor">
        <form action="{{ url_for('admin_app.usuarios') }}" method="post" class="contenido_formulario">
            <label>Email:</label>
            <input type="text" name="email" required>
            <label>Contraseña:</label>
            <input type="password" name="contraseña" required>
            <label>Ocupación:</label>
            <input type="text" name="ocupacion" required>
            <label>Institución:</label>
            <input type="text" name="institucion" required>
            <label>Edad:</label>
            <input type="number" name="edad" required>
            <label>Nombre Completo:</label>
            <input type="text" name="nombre_completo" required>
            <button type="submit" class="btn btn-verde">Agregar Usuario</button>
        </form>

    </div>
    
    <div class="linea"></div>
    <!-- Formulario para agregar proyecto -->
    <h2>Agregar Proyecto</h2>
    <div class="formulario contenedor">
        <form action="{{ url_for('admin_app.proyectos') }}" method="post" class="contenido_formulario">
            <label>Título:</label>
            <input type="text" name="titulo" required><br><br>
            <label>Descripción:</label>
            <input type="text" name="descripcion" required><br><br>
            <label>Autor:</label>
            <input type="text" name="autor" required><br><br>
            <label>Fecha de Publicación:</label>
            <input type="text" name="fecha_publicacion" placeholder="dd/mm/aaaa" required><br><br>
            <label>Palabras Clave:</label>
            <input type="text" name="palabras_clave" required><br><br>
            <button type="submit" class="btn btn-verde">Agregar Proyecto</button>
        </form>

    </div>
    

    <footer>
        <div class="footer-contenido">
            <div class="logo">
                <a href="index.html">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                </a>
            </div><!--.logo-->
            <div class="enlaces-footer">
                <a href="#">Terminos y condiciones</a>
                <a href="#">Aviso de privacidad</a>
                <a href="#">Contactanos</a>
            </div>
        </div><!--.footer-->
        <p>Todos los derechos reservados. Cerebros&copy;</p>
    </footer>


    <script>
        function editarUsuario(usuarioId) {
            document.getElementById('editar_usuario_' + usuarioId).style.display = 'table-row';
        }

        function cancelarEdicionUsuario(usuarioId) {
            document.getElementById('editar_usuario_' + usuarioId).style.display = 'none';
        }

        function guardarCambiosUsuario(usuarioId) {
            var email = document.getElementById('email_' + usuarioId).value;
            var ocupacion = document.getElementById('ocupacion_' + usuarioId).value;
            var institucion = document.getElementById('institucion_' + usuarioId).value;
            var edad = document.getElementById('edad_' + usuarioId).value;
            var nombre_completo = document.getElementById('nombre_completo_' + usuarioId).value;

            fetch("/editar_usuario/" + usuarioId, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    email: email,
                    ocupacion: ocupacion,
                    institucion: institucion,
                    edad: edad,
                    nombre_completo: nombre_completo
                })
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error("Error al guardar cambios de usuario");
                }
            });

            return false; // Para evitar el envío del formulario
        }

        function editarProyecto(proyectoId) {
            document.getElementById('editar_proyecto_' + proyectoId).style.display = 'table-row';
        }

        function cancelarEdicionProyecto(proyectoId) {
            document.getElementById('editar_proyecto_' + proyectoId).style.display = 'none';
        }

        function guardarCambiosProyecto(proyectoId) {
            var titulo = document.getElementById('titulo_' + proyectoId).value;
            var descripcion = document.getElementById('descripcion_' + proyectoId).value;
            var autor = document.getElementById('autor_' + proyectoId).value;
            var fecha_publicacion = document.getElementById('fecha_publicacion_' + proyectoId).value;
            var palabras_clave = document.getElementById('palabras_clave_' + proyectoId).value;

            fetch("/editar_proyecto/" + proyectoId, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    titulo: titulo,
                    descripcion: descripcion,
                    autor: autor,
                    fecha_publicacion: fecha_publicacion,
                    palabras_clave: palabras_clave
                })
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error("Error al guardar cambios de proyecto");
                }
            });

            return false; // Para evitar el envío del formulario
        }

        function eliminarUsuario(usuarioId) {
            if (confirm("¿Estás seguro de que quieres eliminar este usuario?")) {
                fetch("/eliminar_usuario/" + usuarioId, {
                    method: "DELETE"
                }).then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        console.error("Error al eliminar usuario");
                    }
                });
            }
        }

        function eliminarProyecto(proyectoId) {
            if (confirm("¿Estás seguro de que quieres eliminar este proyecto?")) {
                fetch("/eliminar_proyecto/" + proyectoId, {
                    method: "DELETE"
                }).then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        console.error("Error al eliminar proyecto");
                    }
                });
            }
        }
    </script>
</body>
</html>
