<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/css/style_admin.css">
</head>
<body>
    <header class="header">
        <button id="abrir-menu"><i class="bi bi-list"></i> Menú</button>
        <div class="logo">
            <a href="index.html">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </a>
        </div>
        <nav class="nav" id="nav">
            <ul class="nav-list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Buscador</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <aside class="sidebar" id="sidebar">
        
        <button onclick="mostrarFormulario('usuarios')">Usuarios</button>
        <button onclick="mostrarFormulario('proyectos')">Proyectos</button>
        <button onclick="mostrarFormulario('agregarUsuario')">Agregar Usuario</button>
        <button onclick="mostrarFormulario('agregarProyecto')">Agregar Proyecto</button>
    </aside>

    <main class="content" id="content">
        <section id="usuarios">
            <h1>USUARIOS</h1>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Ocupación</th>
                        <th>Institución</th>
                        <th>Edad</th>
                        <th>Nombre Completo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.ocupacion }}</td>
                        <td>{{ usuario.institucion }}</td>
                        <td>{{ usuario.edad }}</td>
                        <td>{{ usuario.nombre_completo }}</td>
                        <td>
                            <button onclick="editarUsuario('{{ usuario.id }}')" aria-label="Editar usuario {{ usuario.nombre_completo }}">Editar</button>
                            <button onclick="eliminarUsuario('{{ usuario.id }}')" aria-label="Eliminar usuario {{ usuario.nombre_completo }}">Eliminar</button>
                        </td>
                    </tr>
                    <tr id="editar_usuario_{{ usuario.id }}" style="display: none;">
                        <td><input type="email" id="email_{{ usuario.id }}" value="{{ usuario.email }}" aria-label="Editar email"></td>
                        <td><input type="text" id="ocupacion_{{ usuario.id }}" value="{{ usuario.ocupacion }}" aria-label="Editar ocupación"></td>
                        <td><input type="text" id="institucion_{{ usuario.id }}" value="{{ usuario.institucion }}" aria-label="Editar institución"></td>
                        <td><input type="number" id="edad_{{ usuario.id }}" value="{{ usuario.edad }}" aria-label="Editar edad"></td>
                        <td><input type="text" id="nombre_completo_{{ usuario.id }}" value="{{ usuario.nombre_completo }}" aria-label="Editar nombre completo"></td>
                        <td>
                            <button onclick="guardarCambiosUsuario('{{ usuario.id }}')" aria-label="Guardar cambios de usuario {{ usuario.nombre_completo }}">Guardar cambios</button>
                            <button onclick="cancelarEdicionUsuario('{{ usuario.id }}')" aria-label="Cancelar edición de usuario {{ usuario.nombre_completo }}">Cancelar</button>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- Añade filas de ejemplo aquí -->
                    <tr>
                        <td>admin@gmail.com</td>
                        <td>No lo sé</td>
                        <td>no lo sé</td>
                        <td>12</td>
                        <td>Victor Hugo</td>
                        <td>
                            <button onclick="editarUsuario(1)">Editar</button>
                            <button onclick="eliminarUsuario(1)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section id="proyectos" style="display:none;">
            <h1>PROYECTOS</h1>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Autor</th>
                            <th>Fecha de Publicación</th>
                            <th>Palabras Clave</th>
                            <th>PDF</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in proyectos %}
                        <tr>
                            <td>{{ proyecto.titulo }}</td>
                            <td>{{ proyecto.descripcion }}</td>
                            <td>{{ proyecto.autor }}</td>
                            <td>{{ proyecto.fecha_publicacion }}</td>
                            <td>{{ proyecto.palabras_clave }}</td>
                            <td>
                                {% if proyecto.nombre_del_archivo_pdf %}
                                <a href="{{ url_for('descargar_pdf', proyecto_id=proyecto.id) }}" target="_blank" aria-label="Descargar PDF de {{ proyecto.titulo }}">Descargar PDF</a>
                                {% else %}
                                <button type="button" onclick="mostrarFormularioSubida('{{ proyecto.id }}')">Subir PDF</button>
                                {% endif %}
                            </td>
                            <td>
                                <button onclick="editarProyecto('{{ proyecto.id }}')" aria-label="Editar proyecto {{ proyecto.titulo }}">Editar</button>
                                <button onclick="eliminarProyecto('{{ proyecto.id }}')" aria-label="Eliminar proyecto {{ proyecto.titulo }}">Eliminar</button>
                            </td>
                        </tr>
                        <tr id="editar_proyecto_{{ proyecto.id }}" style="display: none;">
                            <td><input type="text" id="titulo_{{ proyecto.id }}" value="{{ proyecto.titulo }}" aria-label="Editar título"></td>
                            <td><input type="text" id="descripcion_{{ proyecto.id }}" value="{{ proyecto.descripcion }}" aria-label="Editar descripción"></td>
                            <td><input type="text" id="autor_{{ proyecto.id }}" value="{{ proyecto.autor }}" aria-label="Editar autor"></td>
                            <td><input type="text" id="fecha_publicacion_{{ proyecto.id }}" value="{{ proyecto.fecha_publicacion }}" aria-label="Editar fecha de publicación"></td>
                            <td><input type="text" id="palabras_clave_{{ proyecto.id }}" value="{{ proyecto.palabras_clave }}" aria-label="Editar palabras clave"></td>
                            <td>
                                <button onclick="guardarCambiosProyecto('{{ proyecto.id }}')" aria-label="Guardar cambios de {{ proyecto.titulo }}">Guardar cambios</button>
                                <button onclick="cancelarEdicionProyecto('{{ proyecto.id }}')" aria-label="Cancelar edición de {{ proyecto.titulo }}">Cancelar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Añade contenido de proyectos aquí -->
        </section>
        <section id="agregarUsuario" style="display:none;">
            <h1>Agregar Usuario</h1>
            <form action="{{ url_for('admin_app.usuarios') }}" method="post">
                <label>Email:</label>
                <input type="text" name="email" required><br><br>
                <label>Contraseña:</label>
                <input type="password" name="contraseña" required><br><br>
                <label>Ocupación:</label>
                <input type="text" name="ocupacion" required><br><br>
                <label>Institución:</label>
                <input type="text" name="institucion" required><br><br>
                <label>Edad:</label>
                <input type="number" name="edad" required><br><br>
                <label>Nombre Completo:</label>
                <input type="text" name="nombre_completo" required><br><br>
                <button type="submit">Agregar Usuario</button>
            </form>
            <!-- Añade formulario para agregar usuario aquí -->
        </section>
        <section id="agregarProyecto" style="display:none;">
            <h1>Agregar Proyecto</h1>
            <form id="form_agregar_proyecto" action="{{ url_for('admin_app.proyectos') }}" method="post" enctype="multipart/form-data">
                <label>Título:</label>
                <input type="text" name="titulo" required><br><br>
                <label>Descripción:</label>
                <input type="text" name="descripcion" required><br><br>
                <label>Autor:</label>
                <input type="text" name="autor" required><br><br>
                <label>Fecha de Publicación:</label>
                <input type="text" name="fecha_publicacion" placeholder="dd/mm/aaaa" required><br><br>
                <label>Palabras Clave:</label>
                <input type="text" name="palabras_clave" required><br><br>
                <button type="submit">Agregar Proyecto</button>
            </form>
            <!-- Añade formulario para agregar proyecto aquí -->
        </section>
    </main>

    <script src="static/js/script.js"></script>
</body>
</html>
