<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="static/css/style_admin.css">
</head>
<body>
    <header class="header">
        <button id="abrir-menu"><i class="bi bi-list"></i> Menú</button>
        <div class="logo">
            <a href="index.html">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </a>
        </div>
        <nav class="nav" id="nav">
            <ul class="nav-list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Buscador</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <div class="sidebar" id="sidebar">
        <button onclick="mostrarFormulario('usuarios')">Usuarios</button>
        <button onclick="mostrarFormulario('proyectos')">Proyectos</button>
        <button onclick="mostrarFormulario('agregar-usuario')">Agregar Usuario</button>
        <button onclick="mostrarFormulario('agregar-proyecto')">Agregar Proyecto</button>
    </div>
    <!-- Contenido principal -->
    <main>
        <div class="content" id="content">
        <!-- Sección de usuarios -->
        <section id="usuarios">
            <h2>Usuarios</h2>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Ocupación</th>
                            <th>Institución</th>
                            <th>Edad</th>
                            <th>Nombre Completo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.ocupacion }}</td>
                            <td>{{ usuario.institucion }}</td>
                            <td>{{ usuario.edad }}</td>
                            <td>{{ usuario.nombre_completo }}</td>
                            <td>
                                <button onclick="editarUsuario('{{ usuario.id }}')" aria-label="Editar usuario {{ usuario.nombre_completo }}">Editar</button>
                                <button onclick="eliminarUsuario('{{ usuario.id }}')" aria-label="Eliminar usuario {{ usuario.nombre_completo }}">Eliminar</button>
                            </td>
                        </tr>
                        <tr id="editar_usuario_{{ usuario.id }}" style="display: none;">
                            <td><input type="email" id="email_{{ usuario.id }}" value="{{ usuario.email }}" aria-label="Editar email"></td>
                            <td><input type="text" id="ocupacion_{{ usuario.id }}" value="{{ usuario.ocupacion }}" aria-label="Editar ocupación"></td>
                            <td><input type="text" id="institucion_{{ usuario.id }}" value="{{ usuario.institucion }}" aria-label="Editar institución"></td>
                            <td><input type="number" id="edad_{{ usuario.id }}" value="{{ usuario.edad }}" aria-label="Editar edad"></td>
                            <td><input type="text" id="nombre_completo_{{ usuario.id }}" value="{{ usuario.nombre_completo }}" aria-label="Editar nombre completo"></td>
                            <td>
                                <button onclick="guardarCambiosUsuario('{{ usuario.id }}')" aria-label="Guardar cambios de usuario {{ usuario.nombre_completo }}">Guardar cambios</button>
                                <button onclick="cancelarEdicionUsuario('{{ usuario.id }}')" aria-label="Cancelar edición de usuario {{ usuario.nombre_completo }}">Cancelar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Tabla de usuarios aquí -->
        </section>
        </div>
        <!-- Sección de proyectos -->
        <section id="proyectos">
            <h2>Proyectos</h2>
            <!-- Tabla de proyectos aquí -->
        </section>

        <!-- Formulario para agregar usuario -->
        <section id="agregar-usuario">
            <h2>Agregar Usuario</h2>
            <!-- Formulario para agregar usuario aquí -->
        </section>

        <!-- Formulario para agregar proyecto -->
        <section id="agregar-proyecto">
            <h2>Agregar Proyecto</h2>
            <!-- Formulario para agregar proyecto aquí -->
        </section>
    </main>
    
        <!-- Sección de usuarios -->
        
            <h2>Usuarios</h2>

       

        <!-- Sección de proyectos -->
        <div id="proyectos" class="seccion" style="display: none;">
            <h2>Proyectos</h2>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Autor</th>
                            <th>Fecha de Publicación</th>
                            <th>Palabras Clave</th>
                            <th>PDF</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in proyectos %}
                        <tr>
                            <td>{{ proyecto.titulo }}</td>
                            <td>{{ proyecto.descripcion }}</td>
                            <td>{{ proyecto.autor }}</td>
                            <td>{{ proyecto.fecha_publicacion }}</td>
                            <td>{{ proyecto.palabras_clave }}</td>
                            <td>
                                {% if proyecto.nombre_del_archivo_pdf %}
                                <a href="{{ url_for('descargar_pdf', proyecto_id=proyecto.id) }}" target="_blank" aria-label="Descargar PDF de {{ proyecto.titulo }}">Descargar PDF</a>
                                {% else %}
                                <button type="button" onclick="mostrarFormularioSubida('{{ proyecto.id }}')">Subir PDF</button>
                                {% endif %}
                            </td>
                            <td>
                                <button onclick="editarProyecto('{{ proyecto.id }}')" aria-label="Editar proyecto {{ proyecto.titulo }}">Editar</button>
                                <button onclick="eliminarProyecto('{{ proyecto.id }}')" aria-label="Eliminar proyecto {{ proyecto.titulo }}">Eliminar</button>
                            </td>
                        </tr>
                        <tr id="editar_proyecto_{{ proyecto.id }}" style="display: none;">
                            <td><input type="text" id="titulo_{{ proyecto.id }}" value="{{ proyecto.titulo }}" aria-label="Editar título"></td>
                            <td><input type="text" id="descripcion_{{ proyecto.id }}" value="{{ proyecto.descripcion }}" aria-label="Editar descripción"></td>
                            <td><input type="text" id="autor_{{ proyecto.id }}" value="{{ proyecto.autor }}" aria-label="Editar autor"></td>
                            <td><input type="text" id="fecha_publicacion_{{ proyecto.id }}" value="{{ proyecto.fecha_publicacion }}" aria-label="Editar fecha de publicación"></td>
                            <td><input type="text" id="palabras_clave_{{ proyecto.id }}" value="{{ proyecto.palabras_clave }}" aria-label="Editar palabras clave"></td>
                            <td>
                                <button onclick="guardarCambiosProyecto('{{ proyecto.id }}')" aria-label="Guardar cambios de {{ proyecto.titulo }}">Guardar cambios</button>
                                <button onclick="cancelarEdicionProyecto('{{ proyecto.id }}')" aria-label="Cancelar edición de {{ proyecto.titulo }}">Cancelar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Formulario para agregar usuario -->
        <div id="agregar-usuario" class="seccion" style="display: none;">
            <h2>Agregar Usuario</h2>
            <form action="{{ url_for('admin_app.usuarios') }}" method="post">
                <label>Email:</label>
                <input type="text" name="email" required><br><br>
                <label>Contraseña:</label>
                <input type="password" name="contraseña" required><br><br>
                <label>Ocupación:</label>
                <input type="text" name="ocupacion" required><br><br>
                <label>Institución:</label>
                <input type="text" name="institucion" required><br><br>
                <label>Edad:</label>
                <input type="number" name="edad" required><br><br>
                <label>Nombre Completo:</label>
                <input type="text" name="nombre_completo" required><br><br>
                <button type="submit">Agregar Usuario</button>
            </form>
        </div>

        <!-- Formulario para agregar proyecto -->
        <div id="agregar-proyecto" class="seccion" style="display: none;">
            <h2>Agregar Proyecto</h2>
            <form id="form_agregar_proyecto" action="{{ url_for('admin_app.proyectos') }}" method="post" enctype="multipart/form-data">
                <label>Título:</label>
                <input type="text" name="titulo" required><br><br>
                <label>Descripción:</label>
                <input type="text" name="descripcion" required><br><br>
                <label>Autor:</label>
                <input type="text" name="autor" required><br><br>
                <label>Fecha de Publicación:</label>
                <input type="text" name="fecha_publicacion" placeholder="dd/mm/aaaa" required><br><br>
                <label>Palabras Clave:</label>
                <input type="text" name="palabras_clave" required><br><br>
                <label>PDF:</label>
                <input type="file" name="archivo_pdf" accept="application/pdf" required><br><br>
                <button type="submit">Agregar Proyecto</button>
            </form>
        </div>
    </div>

    <script>
        function mostrarSeccion(seccionId) {
            const secciones = document.querySelectorAll('.seccion');
            secciones.forEach(seccion => {
                seccion.style.display = 'none';
            });
            document.getElementById(seccionId).style.display = 'block';
        }

        function editarUsuario(usuarioId) {
            document.getElementById('editar_usuario_' + usuarioId).style.display = 'table-row';
        }

        function cancelarEdicionUsuario(usuarioId) {
            document.getElementById('editar_usuario_' + usuarioId).style.display = 'none';
        }

        function guardarCambiosUsuario(usuarioId) {
            var email = document.getElementById('email_' + usuarioId).value;
            var ocupacion = document.getElementById('ocupacion_' + usuarioId).value;
            var institucion = document.getElementById('institucion_' + usuarioId).value;
            var edad = document.getElementById('edad_' + usuarioId).value;
            var nombre_completo = document.getElementById('nombre_completo_' + usuarioId).value;

            fetch("/editar_usuario/" + usuarioId, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    email: email,
                    ocupacion: ocupacion,
                    institucion: institucion,
                    edad: edad,
                    nombre_completo: nombre_completo
                })
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error("Error al guardar cambios de usuario");
                }
            });

            return false; // Para evitar el envío del formulario
        }

        function editarProyecto(proyectoId) {
            document.getElementById('editar_proyecto_' + proyectoId).style.display = 'table-row';
        }

        function cancelarEdicionProyecto(proyectoId) {
            document.getElementById('editar_proyecto_' + proyectoId).style.display = 'none';
        }

        function guardarCambiosProyecto(proyectoId) {
            var titulo = document.getElementById('titulo_' + proyectoId).value;
            var descripcion = document.getElementById('descripcion_' + proyectoId).value;
            var autor = document.getElementById('autor_' + proyectoId).value;
            var fecha_publicacion = document.getElementById('fecha_publicacion_' + proyectoId).value;
            var palabras_clave = document.getElementById('palabras_clave_' + proyectoId).value;

            fetch("/editar_proyecto/" + proyectoId, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    titulo: titulo,
                    descripcion: descripcion,
                    autor: autor,
                    fecha_publicacion: fecha_publicacion,
                    palabras_clave: palabras_clave
                })
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error("Error al guardar cambios de proyecto");
                }
            });

            return false; // Para evitar el envío del formulario
        }

        function eliminarUsuario(usuarioId) {
            if (confirm("¿Estás seguro de que quieres eliminar este usuario?")) {
                fetch("/eliminar_usuario/" + usuarioId, {
                    method: "DELETE"
                }).then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        console.error("Error al eliminar usuario");
                    }
                });
            }
        }

        function eliminarProyecto(proyectoId) {
            if (confirm("¿Estás seguro de que quieres eliminar este proyecto?")) {
                fetch("/eliminar_proyecto/" + proyectoId, {
                    method: "DELETE"
                }).then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        console.error("Error al eliminar proyecto");
                    }
                });
            }
        }

        // JavaScript para mostrar y ocultar la barra lateral
        document.getElementById('abrir-menu').addEventListener('click', function() {
            document.getElementById('sidebar').classList.toggle('open');
        });

        document.getElementById('content').addEventListener('click', function() {
            document.getElementById('sidebar').classList.remove('open');
        });
    </script>

    <footer>
        <div class="footer-contenido">
            <div class="logo">
                <a href="index.html">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                </a>
            </div><!--.logo-->
            <div class="enlaces-footer">
                <a href="#">Terminos y condiciones</a>
                <a href="#">Aviso de privacidad</a>
                <a href="#">Contactanos</a>
            </div>
        </div><!--.footer-->
        <p>Todos los derechos reservados. Cerebros&copy;</p>
    </footer>
</body>
</html>
