<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&family=Imprima&family=Montserrat:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Perfil</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="index.html">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </a>
        </div>
        <button class="abrir-menu" id="abrir"><i class="bi bi-list"></i></button>
        <nav class="nav visible" id="nav">
            <button id="cerrar" class="cerrar-menu"><i class="bi bi-x-lg"></i></button>
            <ul class="nav-list">
                <li><a href="/login">Inicio</a></li>
                <li><a href="/search_index">Buscador</a></li>
                <li><a href="#">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 class="titulo_login">Perfil de Usuario</h2>

        <section class="formulario contenedor">
            <form action="{{ url_for('perfil', user_id=user_id) }}" method="POST" class="contenido_formulario">
                <div class="campo">
                    <label for="email">Correo Electrónico:</label>
                    <input type="text" id="email" name="email" value="{{ datos.email }}" readonly>
                </div>
                <div class="campo">
                    <label for="contraseña">Contraseña:</label>
                    <input type="text" id="contraseña" name="contraseña" value="{{ datos.contraseña }}" readonly>
                </div>
                <div class="campo">
                    <label for="nombre">Nombre Completo:</label>
                    <input type="text" id="nombre" name="nombre" value="{{ datos.nombre_completo }}" readonly>
                </div>
                <div class="campo">
                    <label for="edad">Edad:</label>
                    <input type="text" id="edad" name="edad" value="{{ datos.edad }}" readonly>
                </div>
                <div class="campo">
                    <label for="ocupacion">Ocupación:</label>
                    <input type="text" id="ocupacion" name="ocupacion" value="{{ datos.ocupacion }}" readonly>
                </div>
                <div class="campo">
                    <label for="institucion">Institución:</label>
                    <input type="text" id="institucion" name="institucion" value="{{ datos.institucion }}" readonly>
                </div>
                <div class="botones">
                    <button type="button" id="editar-btn" class="btn">Editar</button>
                    <button type="submit" id="guardar-btn" class="btn btn-verde" style="display: none;">Guardar</button>
                    <button type="button" id="cancelar-btn" class="btn btn-rojo">Cancelar</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <div class="footer-contenido">
            <div class="logo">
                <a href="index.html">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                </a>
            </div>
            <div class="enlaces-footer">
                <a href="#">Términos y condiciones</a>
                <a href="#">Aviso de privacidad</a>
                <a href="#">Contáctanos</a>
            </div>
        </div>
        <p>Todos los derechos reservados. Cerebros&copy;</p>
    </footer>

    <script>
        // JavaScript para manejar eventos de botones
        const form = document.querySelector('form');
        const editarBtn = document.getElementById('editar-btn');
        const guardarBtn = document.getElementById('guardar-btn');
        const cancelarBtn = document.getElementById('cancelar-btn');

        // Event listener para el botón de editar
        editarBtn.addEventListener('click', () => {
            // Habilitar los campos para editar
            form.querySelectorAll('input').forEach(input => {
                input.removeAttribute('readonly');
            });
            // Mostrar el botón de guardar y ocultar el de editar
            guardarBtn.style.display = 'inline-block';
            editarBtn.style.display = 'none';
        });

        // Event listener para el botón de cancelar
        cancelarBtn.addEventListener('click', () => {
            // Resetear el formulario y deshabilitar la edición
            form.reset();
            form.querySelectorAll('input').forEach(input => {
                input.setAttribute('readonly', true);
            });
            // Ocultar el botón de guardar y mostrar el de editar
            guardarBtn.style.display = 'none';
            editarBtn.style.display = 'inline-block';
        });
    </script>
</body>

</html>
