<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Search</h1>
    <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    {% if results %}
        <h2>Search Results</h2>
        <ul>
            {% for result in results %}
                <li>{{ result }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <!-- Enlaces a otras páginas -->
    <h2>Otras páginas:</h2>
    <ul>
        <li><a href="/registro">Registro</a></li>
        <li><a href="/login">Inicio de Sesión</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/recuperar-contraseña">Recuperar Contraseña</a></li>
        <!-- Ten en cuenta que el enlace para nueva contraseña depende de tener un token válido -->
    </ul>
</body>
</html>
