/* Variables */
:root {
    --azul: #ade8f4;
    --azulFuerte: #00b4d8;
    --blanco: #ffffff;
    --negro: #000;
    --grisOcuro: #333333;
    --grisClaro: #e0e0e077;
    --verde: #aacc00;
    --verdeOscuro: #80b918;
    --rojo: #e5383b;
    --rojoOscuro: #ba181b;
    --gris: #dddddd;
    --azulc: #008388;
}

/* Ajustes del header y la barra lateral */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--azul);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 40px; /* Ajusta el tamaño del logo si es necesario */
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #333;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Oculta la barra lateral inicialmente */
    width: 250px;
    height: 100%;
    background-color: #065964;
    padding-top: 60px; /* Añade espacio para el header */
    transition: 0.3s;
    z-index: 500; /* Asegura que el sidebar esté por debajo del header */
}

.sidebar.visible {
    left: 0;
}

.sidebar button {
    background-color: #065964;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #555;
}

/* Botón para abrir la barra lateral */
#toggle-menu {
    background-color: #00949e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1100; /* Asegura que el botón esté por encima de otros elementos */
}

.cerrar-menu {
    display: none;
    background-color: #065964;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1100; /* Asegura que el botón esté por encima de otros elementos */
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: var(--azulc);
    }

    .cerrar-menu {
        color: var(--blanco);
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0; /* para que llegeue hasta abajo */
        background-color: var(--grisOcuro);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 140, 165, 0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list a {
        color: var(--blanco);
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 70px; /* Añade espacio para el header */
}

.contenedor {
    width: 80%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espacio alrededor del contenido */
    box-sizing: border-box; /* El padding y el borde se incluyen en el ancho total */
    margin: 5rem auto;
}

.content {
    transition: margin-left 0.3s;
    margin-left: 0;
}

.content.shifted {
    margin-left: 250px; /* Ancho de la barra lateral */
}

/* Table Styles */
.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */
@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

    .fl-table thead th:last-child {
        border-bottom: none;
    }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
/* Aside Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Oculta la barra lateral inicialmente */
    width: 250px;
    height: 100%;
    background-color: #065964; /* Color de fondo oscuro */
    color: white; /* Color de texto blanco para contraste */
    padding-top: 60px; /* Añade espacio para el header */
    transition: 0.3s;
    z-index: 500; /* Asegura que el sidebar esté por debajo del header */
}

.sidebar.open {
    left: 0;
}

.sidebar button {
    background-color: #097b8a; /* Botón con fondo ligeramente más claro */
    color: white; /* Color de texto blanco */
    padding: 10px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin: 10px 0; /* Espaciado entre botones */
}

.sidebar button:hover {
    background-color: #555; /* Fondo del botón en hover */
}

/* Botón para abrir la barra lateral */
#abrir-menu {
    background-color: #147592;
    color: white; /* Asegura que el texto sea visible */
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    z-index: 1100; /* Asegura que el botón esté por encima de otros elementos */
}

/* Contenido principal */
.content {
    transition: margin-left 0.3s;
    margin-left: 0;
}

.content.shifted {
    margin-left: 250px; /* Ancho de la barra lateral */
}

/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #000000; /* Asegura que los enlaces sean visibles */
}

a:hover {
    color: #00b4d8; /* Color en hover para enlaces */
}

/* Estilos adicionales para botones y encabezados */
.btn {
    padding: 0.5rem;
    margin: 1rem auto;
    text-align: center;
    display: block;
    min-width: 80%;
    border-radius: 1rem;
    border: none;
    background-color: var(--azul);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--azulFuerte);
}

.btn-verde {
    background-color: var(--verde);
}

.btn-verde:hover {
    background-color: var(--verdeOscuro);
}

.btn-rojo {
    background-color: var(--rojo);
}

.btn-rojo:hover {
    background-color: var(--rojoOscuro);
}

h1, h3 {
    text-align: center;
    color: var(--negro); /* Color de texto para encabezados */
}

.logo img {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list a {
    color: var(--negro);
}

.nav-list a:hover {
    color: #00b4d8;
}

/* Styles for the agregarUsuario section */
#agregarUsuario {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#agregarUsuario h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#agregarUsuario .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#agregarUsuario label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#agregarUsuario .input-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#agregarUsuario .btn-submit {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#agregarUsuario .btn-submit:hover {
    background-color: #45a049;
}

/* Styles for the agregarProyecto section */
#agregarProyecto {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#agregarProyecto h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#agregarProyecto .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#agregarProyecto label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#agregarProyecto .input-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#agregarProyecto .btn-submit {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#agregarProyecto .btn-submit:hover {
    background-color: #45a049;
}
#boton_v, #delate {
    display: inline-block; /* Cambia display a inline-block para que se alineen horizontalmente */
    vertical-align: middle; /* Alinea verticalmente los botones al medio */
}

#boton_v {
    --green: #4CAF50;
    font-size: 11px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

#boton_v:hover {
    color: #000000;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

#boton_v:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

#boton_v:hover:before {
    transform: translateX(15em);
}

#delate {
    display: inline-block; /* Cambia display a inline-block para que se alineen horizontalmente */
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(237, 77, 77, 0.08); /* Cambia el color de fondo a un rojo claro */
    border-radius: 1.25em;
    transition: all 0.2s linear;
}
   
#delate:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(237, 77, 77, 0.1),
                8.6px 6.3px 12.4px rgba(237, 77, 77, 0.15),
                17.5px 12.8px 25.3px rgba(237, 77, 77, 0.2),
                36.1px 26.3px 52.2px rgba(237, 77, 77, 0.25),
                99px 72px 143px rgba(237, 77, 77, 0.3); /* Cambia el color del box-shadow a rojo */
}
   
#delate .tooltip {
    position: relative;
    display: inline-block;
}
   
#delate .tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(237, 77, 77, 0.9); /* Cambia el color de fondo del tooltip a rojo */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
}
   
#delate .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(237, 77, 77, 0.9) transparent transparent; /* Cambia el color de la flecha del tooltip a rojo */
}
   
#delate .tooltip:hover .tooltiptext {
    visibility: visible;
}



/* ------------------------------------------------------------------------- */
#bot_sub {
    width: 190px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #000000;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
  }
  
  #bot_sub > div,
  #bot_sub > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  #bot_sub:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
  }
  
  #bot_sub:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  #bot_sub .clone > *,
  #bot_sub .text > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
  }
  
  #bot_sub .clone > * {
    transform: translateY(60px);
  }
  
  #bot_sub:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #bot_sub:hover .text > * {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #bot_sub:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
  }
  
  #bot_sub:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
  }
  
  #bot_sub:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
  }
  
  #bot_sub:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
  }
  /* icon style and hover */
  #bot_sub svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
  }
  
  #bot_sub:hover svg {
    transform: translateY(-50%) rotate(-90deg);
  }
  

  #actualizar {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

#actualizar:hover::before {
    transform: scaleX(1);
}

#actualizar .button-content {
    position: relative;
    z-index: 1;
}

#actualizar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      #45a049 10.8%,
      rgb(111, 218, 120) 94.3%
    );
    transition: all 0.475s;
}

.align-horizontal {
    display: flex;
    align-items: center;
    gap: 1em; /* Espacio entre los elementos */
  }
  
  #subir_p {
    background: #00b4d8;
    color: white;
    font-family: inherit;
    padding: 0.25em 1em; /* Ajustar tamaño del padding */
    font-size: 13px; /* Ajustar tamaño de la fuente */
    font-weight: 200;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 1.9em; /* Ajustar altura */
    padding-right: 3em; /* Ajustar tamaño del padding */
    cursor: pointer;
  }
  
  #subir_p .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  #subir_p:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  #subir_p .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  #subir_p:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  #subir_p:active .icon {
    transform: scale(0.95);
  }
  