/* Variables */
:root {
    --azul: #ade8f4;
    --azulFuerte: #00b4d8;
    --blanco: #ffffff;
    --negro: #000;
    --grisOcuro: #333333;
    --grisClaro: #e0e0e077;
    --verde: #aacc00;
    --verdeOscuro: #80b918;
    --rojo: #e5383b;
    --rojoOscuro: #ba181b;
    --gris: #dddddd;
}

/* Ajustes del header y la barra lateral */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--azul);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 40px; /* Ajusta el tamaño del logo si es necesario */
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #333;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Oculta la barra lateral inicialmente */
    width: 250px;
    height: 100%;
    background-color: #065964;
    padding-top: 60px; /* Añade espacio para el header */
    transition: 0.3s;
    z-index: 500; /* Asegura que el sidebar esté por debajo del header */
}

.sidebar.visible {
    left: 0;
}

.sidebar button {
    background-color: #065964;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #555;
}

/* Botón para abrir la barra lateral */
#toggle-menu {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1100; /* Asegura que el botón esté por encima de otros elementos */
}

.cerrar-menu {
    display: none;
    background-color: #065964;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1100; /* Asegura que el botón esté por encima de otros elementos */
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: var(--negro);
    }

    .cerrar-menu {
        color: var(--blanco);
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0; /* para que llegeue hasta abajo */
        background-color: var(--grisOcuro);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list a {
        color: var(--blanco);
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 70px; /* Añade espacio para el header */
}

.contenedor {
    width: 80%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espacio alrededor del contenido */
    box-sizing: border-box; /* El padding y el borde se incluyen en el ancho total */
    margin: 5rem auto;
}

.content {
    transition: margin-left 0.3s;
    margin-left: 0;
}

.content.shifted {
    margin-left: 250px; /* Ancho de la barra lateral */
}

/* Table Styles */
.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */
@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

    .fl-table thead th:last-child {
        border-bottom: none;
    }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
/* Aside Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Oculta la barra lateral inicialmente */
    width: 250px;
    height: 100%;
    background-color: #065964; /* Color de fondo oscuro */
    color: white; /* Color de texto blanco para contraste */
    padding-top: 60px; /* Añade espacio para el header */
    transition: 0.3s;
    z-index: 500; /* Asegura que el sidebar esté por debajo del header */
}

.sidebar.open {
    left: 0;
}

.sidebar button {
    background-color: #097b8a; /* Botón con fondo ligeramente más claro */
    color: white; /* Color de texto blanco */
    padding: 10px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin: 10px 0; /* Espaciado entre botones */
}

.sidebar button:hover {
    background-color: #555; /* Fondo del botón en hover */
}

/* Botón para abrir la barra lateral */
#abrir-menu {
    background-color: #333;
    color: white; /* Asegura que el texto sea visible */
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    z-index: 1100; /* Asegura que el botón esté por encima de otros elementos */
}

/* Contenido principal */
.content {
    transition: margin-left 0.3s;
    margin-left: 0;
}

.content.shifted {
    margin-left: 250px; /* Ancho de la barra lateral */
}

/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #fff; /* Asegura que los enlaces sean visibles */
}

a:hover {
    color: #00b4d8; /* Color en hover para enlaces */
}

/* Estilos adicionales para botones y encabezados */
.btn {
    padding: 0.5rem;
    margin: 1rem auto;
    text-align: center;
    display: block;
    min-width: 80%;
    border-radius: 1rem;
    border: none;
    background-color: var(--azul);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--azulFuerte);
}

.btn-verde {
    background-color: var(--verde);
}

.btn-verde:hover {
    background-color: var(--verdeOscuro);
}

.btn-rojo {
    background-color: var(--rojo);
}

.btn-rojo:hover {
    background-color: var(--rojoOscuro);
}

h1, h3 {
    text-align: center;
    color: var(--negro); /* Color de texto para encabezados */
}

.logo img {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list a {
    color: var(--negro);
}

.nav-list a:hover {
    color: #00b4d8;
}
